<header class="menu">
    <ul>
        <a href="home"><img class="pequena" style="width: 80px; height: 80px; left: 50px; top: 6px; position: absolute; border-radius: 306px; backdrop-filter: blur(4px)" src="assets/Logo.png" /></a>
        <div style="width: 310px; left: 144px; top: 20px; position: absolute; color: #82A8D9; font-size: 40px; font-family: Glory; font-weight: 200; word-wrap: break-word">Livro&Mente</div>
        <li><a href="home">Home</a></li>
        <li><a href="livros">Livros</a></li>
        <li><a href="vendas">Venda</a></li>
        <li><a href="dominio">Livros Grátis</a></li>
        <li><a href="categoria">Categoria</a></li>
        <li><a href="carrinho">Carrinho</a></li>
        <div class="bnt-login">Login</div>
    </ul>
    <h1>Vendas</h1>
</header>