<body>
    <app-header></app-header>

        <main>
            <div class="page-title">Seu Carrinho</div>
            <div class="content">
                <section>
                    <table>
                        <thead>
                           <tr>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th>-</th>
                           </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="product">
                                        <img src="https://picsum.photos/100/140" alt="">
                                        <div class="info">
                                        <div class="name">Nome do produto</div>
                                        <div class="description">Descrição</div>
                                    </div>
                                    </div>
                                </td>
                                <td>R$ 100,00</td>
                                <td>
                                    <div class="quantity">
                                        <button><i class='bx bx-minus'></i></button>
                                        <span>2</span>
                                        <button><i class='bx bx-plus'></i></button>
                                    </div>
                                </td>
                                <td>R$ 100,00</td>
                                <td>
                                    <button class="remove"><i class='bx bx-x'></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            <aside>
                <div class="box">
                    <!-- <header></header> -->
                    <div class="info">
                        <div><span>Sub-total</span><span>R$ 100,00</span></div>
                        <div><span>Frete</span><span>Gratuito</span></div>
                    </div>
                    <footer></footer>
                </div>
                <a href="pagamento"><button class="box-button">Finalizar Compra</button></a>
            </aside>
            </div>
        </main>
</body>
