<body>
    <app-header></app-header>

        <main>
            <div class="page-title">Seu Carrinho</div>
            <div class="content">
                <section>
                    <table>
                        <thead>
                           <tr>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th>-</th>
                           </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of listaBook">
                                <td>
                                    <div class="product">
                                        <img src="{{book.urlImg}}" alt="" class="pequena">
                                        <div class="info">
                                        <div class="name">{{book.title}}</div>
                                        <div class="description">{{book.synopsis}}</div>
                                    </div>
                                    </div>
                                </td>
                                <td>R$ {{book.value}}</td>
                                <td>
                                    <div class="quantity">
                                        <button (click)="diminuirQuantidade()">-</button>
                                        <span>{{ total }}</span>
                                        <button (click)="aumentarQuantidade()">+</button>
                                    </div>
                                </td>
                                <td>R$ 100,00</td>
                                <td>
                                    <button class="remove" (click)="remover(book)"><i class='bx bx-x'></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            <aside>
                <div class="box">
                    <!-- <header></header> -->
                    <div class="info">
                        <div><span>Sub-total</span><span>R$ {{totalGeral}}</span></div>
                        <div><span>Frete</span><span>Gratuito</span></div>
                    </div>
                    <footer></footer>
                </div>
                <a href="pagamento"><button class="box-button" (click)="comprar()">Finalizar Compra</button></a>
            </aside>
            </div>
        </main>
</body>
