
body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.menu{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: right;
    /* position: fixed; */
}
.menu ul{
    list-style-type: none;
    background-color: transparent;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

 .menu ul li{
    display: inline;
  } 

.menu ul li a{
    color: #000;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
.menu ul li a:hover{
    color: #849A8A;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

img.pequena{
    width: 7%;
    justify-content: left;
    cursor: pointer;
    transition: all 0.3s;
}

img.pequena:hover{
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.bnt-login{
    border-radius: 9px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
    border: 5px solid rgba(132, 154, 138, 0.20);
    background: #849A8A;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin:49px 30px 30px;
    margin-top: 5px;
    padding: 7px;
}
.bnt-login:hover {
    background-color: rgb(136, 197, 138); 
  } 

  main{
    background-color: #F2F0F0;
    padding: 0 30px;
  }

.page-title{
    font-size: 35px;
    padding: 50px 0;
    margin: 20px;
}

.content{
    display: flex;
}

section{
    flex:1;
}

aside{
    background-color: #ddd;
    min-width: 250px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead tr th{
    text-align: left;
}

tbody tr td{
    padding: 30px 0;
}

th{
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #666;
}
tr{
    border-bottom:3px solid #ddd ;
}

.product{
    display: flex;
    align-items: center;
}

img{
    border-radius: 6px;
}

.info{
    margin-left: 20px;
}

.name{
    font-size: 20px
}

.description{
    color: #0E0ADF;
    cursor: pointer;
}

.remove{
    background-color: #eee;
    color: #666;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.quantity{
    background: #eee;
    display: inline-flex;
    padding: 5px 0;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
}

.quantity button{
    color: #666;
    align-items: center;
    display: flex;
    background: #eee;
    border: 0;
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.quantity .box-button:hover{
    background-color: #0E0ADF;
}

span{
    margin:0 10px;
}

.box-button{
    border: 0;
    padding: 10px 0;
    border-radius: 9px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
    border: 5px solid rgba(132, 154, 138, 0.20);
    background: #849A8A;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.box-button:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

aside{
    padding: 30px;
}

.box .info{
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
}