<app-header></app-header>

<main>
    <div class="product-display">
        <div class="product-image">
            <div class="side-view">
                <img class="image-view" src="./assets/teste.jpg" alt="livro">
                <img class="image-view" src="./assets/teste.jpg" alt="livro">
                <img class="image-view" src="./assets/teste.jpg" alt="livro">
                <img class="image-view" src="./assets/teste.jpg" alt="livro">
            </div>
            <img class="main-image" src="./assets/teste.jpg" alt="livro">
        </div>
        <div class="product-info">
            <h1>Derego do tchego birigo do tigo</h1>
            <span>por <span class="seller">Saraiva</span></span>
            <div class="price-quantity">
                <span class="price">R$100,00</span>
                <div class="input-quantity">
                    <label for="quantity-dropdown">Qtd.</label>
                    <select name="quantity-dropdown" id="quantity-dropdown">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea inventore cum officia animi commodi incidunt nesciunt quasi cupiditate sunt nobis ab perferendis expedita laborum eius veniam culpa esse, quos libero?</p>
            <div class="option-button">
                <button class="add-to-cart">ADICIONAR AO CARRINHO</button>
                <button class="buy">COMPRAR</button>
            </div>
        </div>
    </div>
</main>