<app-header></app-header>

<main>
    <div class="product-display">
        <div class="product-image">
            <div class="side-view">
                <img class="image-view" src="./assets/teste.jpg" alt="livro">
                <img class="image-view" src="./assets/teste.jpg" alt="livro">
                <img class="image-view" src="./assets/teste.jpg" alt="livro">
                <img class="image-view" src="./assets/teste.jpg" alt="livro">
            </div>
            <img class="main-image" src="./assets/teste.jpg" alt="livro">
        </div>
        <div class="product-info">
            <h1>Derego do tchego birigo do tigo</h1>
            <span>por <span class="seller">Saraiva</span></span>
            <div class="price-quantity">
                <span class="price">R$100,00</span>
                <div class="input-quantity">
                    <label for="quantity-dropdown">Qtd.</label>
                    <select name="quantity-dropdown" id="quantity-dropdown">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea inventore cum officia animi commodi incidunt nesciunt quasi cupiditate sunt nobis ab perferendis expedita laborum eius veniam culpa esse, quos libero?</p>
            <div class="option-button">
                <button class="add-to-cart">ADICIONAR AO CARRINHO</button>
                <button class="buy">COMPRAR</button>
            </div>
        </div>
    </div>
    <div class="general-product">
        <div class="seller-profile">
            <img class="profile-picture" src="./assets/teste.jpg" alt="">
            <div class="user-info">
                <span class="username">José M. Ribeiro</span>
                <span class="star-rate">5,0 XXXXXX</span>  
            </div>
            <button class="follow">SEGUIR</button>
            <button class="report">DENUNCIAR</button>
        </div>
        <div class="product-title">
            <span class="category-title">Você também pode gostar</span>
            <div class="product">
                <div class="product-card">
                    <div class="card-image">
                        <img class="image" src="./assets/teste.jpg" alt="">
                    </div>
                    <div class="card-info">
                        <a href="" class="product-name">Nomeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                        <span>XXXX</span>
                        <p class="product-price">R$30,00</p>
                        <!-- <button class="card-btn-buy">COMPRAR</button> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="product">
            <span class="title">Produtos Relacionados</span>
            <div class="product-display">
                <ng-container *ngFor="let product of products">
                    <div class="product-card">
                        <div class="card-image">
                            <img src="./assets/teste.jpg" alt="" class="image">
                        </div>
                        <div class="product-tag">
                            <div class="product-text">
                                <span class="product-name">{{product.name}}</span>
                                <span class="product-price">{{product.price}}</span>
                            </div>
                            <button class="buy-button">ADICIONAR O CARRINHO</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div> -->
    </div>
</main>