<section><app-menu-adm></app-menu-adm></section>
<body>
  <section class="main">
    <div class="content">
      <div class="titulo-secao">
        <h2>Monitoramento de Livros</h2>
        <br />
        <hr />
        <br />
      </div>
      <div class="tabelaRegistros">
        <div class="table-header">
          <input type="text" placeholder="Pesquisar..." id="inputPesquisa" />
        </div>
        <table class="bootstrap-style-table" id="tabelaMonitoramento">
          <thead>
            <th class="alignItensColumn">Nome</th>
            <th class="alignItensColumn">ISBN</th>
            <th class="alignItensColumn">Editora</th>
            <th class="alignItensColumn">Gênero</th>
            <th class="alignItensColumn">Valor</th>
            <th class="alignItensColumn">Ações</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </section>

</body>
