@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* #6A7B6F */

::-webkit-scrollbar-track{
  background-color: #fff;
}

::-webkit-scrollbar{
  width: 10px;
  background: #6A7B6F;
}

::-webkit-scrollbar-thumb{
  background: #6A7B6F;
  border-radius: 10px;
}
