<div class="sidebar">
    <img src="assets/Logo.png" alt="Menu Image">
    <ul>
        <li><a href="/painel">Home</a></li>
        <li><a href="/livros">Livros</a></li>
        <li><a href="/pedidos">Pedidos</a></li>
    </ul>
</div>



<div class="main-container">
    <div class="bread">
        <p>Livros</p>

        
        <button mat-mini-fab aria-label="Example icon button with a menu icon" [routerLink]="['/upload']">
            
                <mat-icon>add</mat-icon>
            
            
        </button>
    </div>
    <main>
        
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="books" class="mat-table">

                <!-- Position Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{ element.title }} 
                        
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef> Data </th>
                    <td mat-cell *matCellDef="let element"> {{element.publishingCompany}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Valor total </th>
                    <td mat-cell *matCellDef="let element"> {{element.value | number: '1.2-2'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{ element.isActive ? 'Ativo' : 'Desativo' }}  </td>
                </ng-container>

                <ng-container matColumnDef="acao">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon color="primary"  disabled>visibility</mat-icon>
                        <mat-icon-button [routerLink]="['/upload', element.id]">
                            <mat-icon>edit</mat-icon>
                        </mat-icon-button>
                        <mat-icon color="warn" (click)="delete(element.id)" >delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator
            [length]="totalItems" 
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 20]"
            (page)="onPageChange($event)"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </main>
</div>
