.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;
  }
  
  .text { 
    font-size: 30px;
    font-weight: 650;
    text-transform: capitalize;
    margin-top: 8vw;
  }
  
  span {
    color: #849a8a;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .left-side {
    margin-left: 5vw;
  }
  
  .image {
    margin-top: 10vh;
    z-index: 2;
    max-width: 500px;
    max-height: 500px;
  }
  
  .image img {
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  
  .welcome-text {
    position: absolute;
    z-index: 3;
    line-height: 2vh;
  }
  
  .form-input{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #849a8a;
    width: 35vw;
    height: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.468);
  }
  
  /* .input-box{
  
  } */
  
  .inputNS{
    padding-left: 10px;
    border-radius: 7px;
    border: 0 solid black;
    width: 350px;
    height: 50px;
    margin-bottom: .5em;
  }
  
  .title{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 3vh 0 3vh 0;
    justify-self: flex-start;
  }
  
  .buttonregister{
    color: black;
    font-weight: 700;
    font-size: 15px;
    margin-top: 2.5vh;
    background-color: white;
    padding: 1vw; 
    border-radius: 10px;
    border: 0 solid;
  }
  
  .login-text{
    font-weight: 600;
  }
  
  .gotologin{ 
    color: white;
  }