<section><app-header></app-header></section>
<main>
  <div class="page-top">
    <div class="left-content">
      <div class="main-text">
        <h1>seus livros favoritos em um único lugar</h1>
      </div>
      <div class="subtext">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, eveniet omnis aliquam delectus quam in suscipit voluptate, soluta laboriosam amet ducimus, laborum quas debitis eum dolore dignissimos dolor. Consequuntur, quae.</p>
      </div>
      <div class="top-buttons">
      
      </div>
    </div>
    <div class="right-content">
      <img src="./assets/reading_woman.png" alt="">
    </div>
  </div>
  <div class="page-mid">
    <div class="product-selection">
      <div class="product-slider">
        <div class="slider-title">
          Nome teste
        </div>
        <div class="product">
          <ng-container ngFor="let book of Book">
            <div class="product-card">
              <div class="product-slider-image">
                <img src="{{Book.UrlImg}}" alt="" class="product-card-image">
              </div>
              <div class="product-info">
                <a href="" class="product-card-name">{{Book.Title}}</a>
                <div class="product-rate">5,0 XXXXX</div>
                <div class="product-card-price">{{Book.Value}}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="product-slider">
        <div class="slider-title">
          Nome teste
        </div>
        <div class="product">
          <ng-container ngFor="let book of Book">
            <div class="product-card">
              <div class="product-slider-image">
                <img src="{{Book.UrlImg}}" alt="" class="product-card-image">
              </div>
              <div class="product-info">
                <a href="" class="product-card-name">{{Book.Title}}</a>
                <div class="product-rate">5,0 XXXXX</div>
                <div class="product-card-price">{{Book.Value}}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="offer-card">
      <div class="left-card"></div>
      <div class="right-card"></div>
    </div>
    <div class="product-filter">
      <div class="filter">
        <span class="general-text">Outros livros</span>
        <div class="main-filter-body">
          <div class="filter-checkbox">
            <div class="filter-name">Teste</div>
            <div class="filter-option">
              <div class="checkbox-container">
                <input type="checkbox" id="checkbox-1">
                <label for="checkbox-1" class="filter-checkbox">aa</label>
              </div>
              <div class="checkbox-container">
                <input type="checkbox" id="checkbox-2">
                <label for="checkbox-2" class="filter-checkbox">aa</label>
              </div>
              <div class="checkbox-container">
                <input type="checkbox" id="checkbox-3">
                <label for="checkbox-3" class="filter-checkbox">aa</label>
              </div>
              <div class="checkbox-container">
                <input type="checkbox" id="checkbox-4">
                <label for="checkbox-4" class="filter-checkbox">aa</label>
              </div>
              <div class="checkbox-container">
                <input type="checkbox" id="checkbox-5">
                <label for="checkbox-5" class="filter-checkbox">aa</label>
              </div>
            </div>
            <div class="filter-range">
              <div class="range-title">Preço</div>
              <div class="range-input">
                <input type="range" id="range-1">
                <label for="range-1" class="range-label">aa</label>
              </div>
            </div>
          </div>
          <div class="product-filter-display">
            <ng-container ngFor="let book of Book">
              <div class="product-filter-card">
                <div class="product-filter-card-image">
                  <img src="{{Book.UrlImg}}" alt="" class="filter-card-image">
                </div>
                <div class="product-filter-card-info">
                  <a href="" class="product-card-name">{{Book.Title}}</a>
                  <div class="product-rate">5,0 XXXXX</div>
                  <div class="product-card-price">{{Book.Value}}</div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<section><app-footer></app-footer></section>