@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.menu{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: right;
    /* position: fixed; */
}
.menu ul{
    list-style-type: none;
    background-color: transparent;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

 .menu ul li{
    display: inline;
  } 

.menu ul li a{
    color: #000;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
.menu ul li a:hover{
    color: #849A8A;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

img.pequena{
    width: 7%;
    justify-content: left;
    cursor: pointer;
    transition: all 0.3s;
}

img.pequena:hover{
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.bnt-login{
    border-radius: 9px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
    border: 5px solid rgba(132, 154, 138, 0.20);
    background: #849A8A;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin:49px 30px 30px;
    margin-top: 5px;
    padding: 7px;
}
.bnt-login:hover {
    background-color: rgb(136, 197, 138); 
  } 
