<section><app-header></app-header></section>
<main>
  <div class="page-top">
    <div class="left-content">
      <div class="main-text">
        <h1>seus <span>livros favoritos</span> em um único <span>lugar</span></h1>
      </div>
      <div class="subtext">
        <p>O Livro&Mente foi desenvolvido por alunos da fatec de Taquaritinga do curso AMS com o intuito de levar livros
          de domínio público aos estudantes e aos amantes da leitura, aqui você encontra livros de forma fácil rápida e
          dinâmica.</p>
      </div>
      <div class="top-buttons">
      </div>
    </div>
    <div class="right-content">
      <img src="./assets/reading_woman.png" alt="">
    </div>
  </div>
  <div class="page-mid">
    <app-product-display [displayName]="'Todos os livros'"></app-product-display>
    <app-product-display [displayName]="'Romance'" [displayCategory]="'41b88b3a-99b2-4d61-9f76-72dc1b70c1c0'"></app-product-display>
    <div class="offer-card">
      <img src="../../../assets/image_promote.webp" alt="">
    </div>
    <app-category-filter></app-category-filter>
  </div>
</main>

<section><app-footer></app-footer></section>
