<header class="menu">
  <ul>
    <a href="home"
      ><img
        class="pequena"
        style="
          width: 80px;
          height: 80px;
          left: 50px;
          top: 6px;
          position: absolute;
          border-radius: 306px;
          backdrop-filter: blur(4px);
        "
        src="assets/Logo.png"
    /></a>
    <div
      style="
        width: 310px;
        left: 144px;
        top: 20px;
        position: absolute;
        color: #82a8d9;
        font-size: 40px;
        font-family: Glory;
        font-weight: 200;
        word-wrap: break-word;
      "
    >
      Livro&Mente
    </div>
    <li><a href="home">Home</a></li>
    <li><a href="livros">Livros</a></li>
    <li><a href="cadastro-livro">Venda</a></li>
    <li><a href="dominio">Livros Grátis</a></li>
    <li><a href="categoria">Categoria</a></li>
    <li><a href="carrinho">Carrinho</a></li>
    <div class="bnt-login">Login</div>
  </ul>
</header>

  <div class="page-top">
    <div class="text">
      <div class="main-text">
        <span class="color">Bem vindo!!</span> ao Painel de
      <span class="color">Vendedor</span>
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, alias excepturi porro dolores sed eum praesentium culpa quos adipisci repellat sint in velit fuga architecto. Commodi vero quaerat perferendis expedita.
      </div>
    </div>
    <div class="img">
      <img src="./assets/livraria.png" alt="">
    </div>
  </div>
  <div class="container">
    <div class="title">Cadastrar Livros</div>
    <form action="modal"  (ngSubmit)="postBook()" #form="ngForm">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Título:</span>
          <input 
            type="text" 
            placeholder="Digite o nome do livro"
            name="Title"
            [(ngModel)]="book.Title" required />
        </div>
        <div class="input-box">
          <span class="details">Autor:</span>
          <input 
            type="text" 
            placeholder="Digite o nome do autor "
            name="Author" 
            [(ngModel)]="book.Author" 
            required />
        </div>
        <div class="input-box">
          <span class="details">Sinopse:</span>
          <input 
            type="text" 
            placeholder="Escreva uma breve sinopse" 
            name="Synopsis" 
            [(ngModel)]="book.Synopsis" required />
        </div>
        <div class="input-box">
          <span class="details">Quantidade:</span>
          <input
            type="number" step="1"
            placeholder="Digite a quantidade de livros"
            name="Quantity" 
            [(ngModel)]="book.Quantity"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Número de páginas:</span>
          <input
            type="number" step="1"
            placeholder="Digite o número das páginas"
            name="Pages" 
            [(ngModel)]="book.Pages"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Editora:</span>
          <input
            type="text" 
            placeholder="Digite o nome da editora"
            name="PublishingCompany" 
            [(ngModel)]="book.PublishingCompany"
            required />
        </div>
        <div class="input-box">
          <span class="details">Valor:</span>
          <input 
            type="number" 
            step="0.01" 
            placeholder="Digite o valor do livro" 
            name="Value" 
            [(ngModel)]="book.Value" 
            required />
        </div>
        <div class="input-box">
          <span class="details">Idioma:</span>
          <input 
            type="text" 
            placeholder="Digite o idioma"
            name="Language"  
            [(ngModel)]="book.Language" 
            required />
        </div>
        <div class="input-box">
          <span class="details">Classificação indicativa</span>
          <input
            type="number"
            placeholder="Digite a faixa etária do livro"
            name="Classification" 
            [(ngModel)]="book.Classification"
            required
          />
        </div>
        <!-- <div class="input-box">
          <span class="details">Estado do livro:</span>
          <select name="estado" id="estado">
            <option value="1">Novo</option>
            <option value="2">Usado</option>
          </select>
        </div> -->
        <div class="input-box">
           <span class="details">Gênero do livro:</span>
           <select name="genero" [(ngModel)]="book.CategoryId"  >
             <option  *ngFor="let categoria of categories"  [value]="categoria.id">{{categoria.description}}</option>
           </select>
        </div>
        <div class="button">
          <input type="file" (change)="onFileSelected($event)" value="Capa">
          <!-- <button (click)="uploadFile()">Upload</button> -->
        </div>
      </div>
      <div class="button" >
        <input type="submit" value="Cadastrar">
      </div>
    </form>
  </div>

  <!-- <div class="modal" id="cadastro" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ATENÇÃO!!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis maiores sequi, voluptatibus magni nam numquam et, optio nemo sit eum corrupti? Accusamus odio provident dolore laudantium hic quasi nulla rerum.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Continuar</button>
        </div>
      </div>
    </div>
  </div> -->
