<app-header></app-header>

  <div class="page-top">
    <div class="text">
      <div class="main-text">
        <span class="color">Bem vindo!!</span> ao Painel de
      <span class="color">Vendedor</span>
      </div>
      <div class="description">
        Aqui, você encontra um espaço dedicado para cadastrar todos os seus livros com facilidade e agilidade. Simplificamos o processo para que você possa organizar e catalogar sua coleção de maneira rápida e eficiente, permitindo que os leitores encontrem seus títulos com facilidade.
      </div>
    </div>
    <div class="img">
      <img src="./assets/livraria.png" alt="">
    </div>
  </div>
  <div class="container">
    <div class="title">{{ isEditMode ? 'Editar Livro' : 'Cadastrar Livro' }}</div>
    <form action="modal" [formGroup]="bookForm"  (ngSubmit)="postBook()">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Título:</span>
          <input
            type="text"
            placeholder="Digite o nome do livro"
            name="title"
            maxlength="{{maxTitleNameSize}}"
            formControlName="title" required />
            <mat-hint align="end">{{ bookForm.get('title')?.value?.length }} / {{maxTitleNameSize}}</mat-hint>
        </div>
        <div class="input-box">
          <span class="details">Autor:</span>
          <input
            type="text"
            placeholder="Digite o nome do autor "
            name="author"
            formControlName="author"
            maxlength="{{maxAuthorNameSize}}"
            required />
            <mat-hint align="end">{{ bookForm.get('author')?.value?.length }} / {{maxAuthorNameSize}}</mat-hint>
        </div>
        <div class="input-box">
          <span class="details">Sinopse:</span>
          <input
            type="text"
            placeholder="Escreva uma breve sinopse"
            name="Synopsis"
            maxlength="{{maxSynopsisNameSize}}"
            formControlName="synopsis" required />
            <mat-hint align="end">{{ bookForm.get('synopsis')?.value?.length }} / {{maxSynopsisNameSize}}</mat-hint> 
        </div>
        <div class="input-box">
          <span class="details">Quantidade:</span>
          <input
            type="number" step="1"
            placeholder="Digite a quantidade de livros"
            name="quantity"
            formControlName="quantity"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Número de páginas:</span>
          <input
            type="number" step="1"
            placeholder="Digite o número das páginas"
            name="pages"
            formControlName="pages"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Editora:</span>
          <input
            type="text"
            placeholder="Digite o nome da editora"
            name="publishingCompany"
            formControlName="publishingCompany"
            maxlength="{{maxPublishingCompanyNameSize}}"
            required />
            <mat-hint align="end">{{ bookForm.get('publishingCompany')?.value?.length }} / {{maxPublishingCompanyNameSize}}</mat-hint>
        </div>
        <div class="input-box">
          <span class="details">Valor:</span>
          <input
            type="number"
            step="0.01"
            placeholder="Digite o valor do livro"
            name="value"
            formControlName="value"
            required />
        </div>
        <div class="input-box">
         
            <span class="details">Idioma:</span>
          <input
            type="text"
            placeholder="Digite o idioma"
            name="language"
            matInput
            formControlName="language"
            maxlength="{{maxLanguageNameSize}}"
            required />
            <mat-hint align="end">{{ bookForm.get('language')?.value?.length }} / {{maxLanguageNameSize}}</mat-hint>
          
          
        </div>
        <div class="input-box">
          <span class="details">Classificação indicativa</span>
          <input
            type="number"
            placeholder="Digite a faixa etária do livro"
            name="classification"
            formControlName="classification"
            required
             
          />
        </div>
         <div class="input-box">
          <span class="details">Coloque uma URL</span>
          <input
          type="text"
          placeholder="Digite a url do livro"
          name="urlBook"
          formControlName="urlBook"
        />
        </div>
        <div class="input-box">
           <span class="details">Gênero do livro:</span>
           <select name="genero" formControlName="categoryId"  >
             <option  *ngFor="let categoria of categories"  [value]="categoria.id">{{categoria.description}}</option>
           </select>
        </div>

        <div class="input-box">
          <span class="details">Isbn:</span>
          <input
            type="text"
            placeholder="Digite o nome da editora"
            name="publishingCompany"
            formControlName="isbn"
            maxlength="{{maxIsbnNameSize}}"
             />
             <mat-hint align="end">{{ bookForm.get('isbn')?.value?.length }} / {{maxIsbnNameSize}}</mat-hint>
        </div>

        <div>
          <mat-slide-toggle formControlName="isActive">Ativo</mat-slide-toggle>
        </div>
        
        <div class="input-upload">
          <span class="details">Clique para fazer upload da capa:</span>
          <input type="file" (change)="onFileSelected($event)" value="Capa">
        </div>

      </div>
      <div class="button" >
        <input type="submit" value="Cadastrar" [disabled]="!bookForm.valid">
      </div>
    </form>
  </div>

  <section><app-footer></app-footer></section>