<div class="product-filter">
  <div class="filter">
    <span class="general-text">Outros livros</span>
    <div class="main-filter-body">
      <div class="filter-options">
        <div class="filter-search">
          <div class="category-title">Pesquisar</div>
          <div class="search-bar">
            <fa-icon [icon]="faSearch"></fa-icon>
            <input  type="search" class="search-bar-input">
          </div>
        </div>
        <div class="filter-checkbox">
          <div class="category-title">Categorias</div>
          <div class="category">
            <div *ngFor="let category of Categories">
              <input
                type="checkbox"
                (change)="onCategoryChange(category.id, $event)"
                [checked]="selectedCategories.includes(category.id)">
              {{ category.description }}
            </div>
          </div>
        </div>
      </div>
      <div class="product-filter-display">
        <ng-container *ngFor="let book of Books">
          <div class="product-filter-card">
            <div class="product-filter-card-image">
              <img src="{{book.urlImg}}" alt="" class="filter-card-image">
            </div>
            <div class="product-filter-card-info">
              <a href="/detalhe" class="product-card-name" (click)="abrirProduto(book)">{{book.title}}</a>
              <div class="product-card-price">
                <ng-container *ngIf="book.value === 0">Grátis</ng-container>
                <ng-container *ngIf="book.value !== 0">R${{ book.value | number: '1.2-2' }}</ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
