<body>
    <div class="sidebar">
        <img src="assets/Logo.png" alt="Menu Image">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Livros</a></li>
            <li><a href="#">?</a></li>
            <li><a href="#">?</a></li>
        </ul>
    </div>

    <div class="page-top">
        <div class="left-content">
          <div class="main-text">
            <h1><span>Bem vindo!!</span> ao painel do<span> Administrador</span></h1>
          </div>
          <div class="top-buttons">
          </div>
        </div>
        <div class="right-content">
          <img src="assets/reading_woman.png" alt="Reading Woman">
        </div>
      </div>
</body>
