<body>
    <div class="sidebar">
        <img src="assets/Logo.png" alt="Menu Image">
        <ul>
            <li><a href="">Início</a></li>         
            <li><a href="/painel">Painel</a></li>
            <li><a href="/livros">Livros</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
        </ul>
    </div>

    <div class="page-top">
        <div class="left-content">

          <div class="card">
            <mat-card class="example-card" appearance="outlined" *ngFor="let total of totalOrders">
              <mat-card-header>
                  <mat-card-title style="font-family: Poppins;font-weight: 800;">Vendas</mat-card-title>
              </mat-card-header>
              <mat-card-content style="text-align: center;">
                  <h1 style="color: #849a8a;font-family: Poppins;font-weight: 900;font-size:50px">{{ (total.Total ?? 0) | number: '1.2-2' }}</h1>
              </mat-card-content>
              <mat-card-footer class="example-card-footer" style="text-align: center;margin-top: -15px;">
                 <p>Vendas completadas</p>
              </mat-card-footer>
            </mat-card>
          </div>

          <div class="main-text">
            <h1><span>Bem vindo!!</span> ao painel do<span> Administrador</span></h1>
          </div>
          <div class="top-buttons">
          </div>
        </div>
        <div class="right-content">
          <img src="assets/reading_woman.png" alt="Reading Woman">
        </div>
      </div>
</body>
